:root {
  --placeholder-color: hsla(0, 0%, 73%, 1);
  --text-color: hsla(0, 0%, 100%, 1);
  --alt-text-color: hsla(0, 0%, 73%, 1);
  --brighter-button-text-color: hsla(0, 0%, 100%, 1);
  --darker-button-text-color: hsla(0, 0%, 0%, 1);
  --alt-button-text-color: hsla(260, 69%, 42%, 1);
  --bright-button-color: hsla(0, 0%, 100%, 1);
  --dark-button-color: hsla(0, 0%, 0%, 1);
  --alt-button-color: hsla(238, 60%, 42%, 1);
}

.grid {
  display: grid;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 0 1.75rem;
  }
}